body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding:30px;
  height:100%;

}

.form {
  display: flex;
  flex-direction:column;
  width:200px;
}
textarea {
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid blue ;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 100px;
  outline: none;
}

button {
  width:100%;
  background-color: #fff27f;
  cursor: pointer;
  border: 0;
  padding:10px;
  outline:none;
}

button:hover {

  background-color: lawngreen;
  color: white;
}

.note{
  position: absolute;
  cursor: pointer;
  background-image: url("post-it-note.png");
  background-size: cover;
  top:100px;
  left: 600px;
  width:200px;
  height:200px;
  padding:20px;


}

.text{
  color: black;
  height:100%;
  width:100%;
}

.close{
  width: 15px;
  height:15px;
  position:absolute;
  right:15px;
  transition: transform .3s case;

}
.close:hover{
  transform:scale(1.6)
}